body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
}

code {
  font-family: "Montserrat";
}
/* Navbar */
.header_header_div {
  position: relative;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.Lmvib_main_logo_div {
  padding: 10px 5px 15px 45px !important;
}
.Lmvib_main_logo_div img {
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: white;
}
.unordered_list_navbar {
  list-style-type: none;
  margin: 3vh 5vh;
  padding: 10px 5px 0 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  color: #ffffff;
  font-weight: bolder;
}
.unordered_list_navbar li {
  padding-right: 15px;
}

.unordered_list_navbar li select {
  border: none;
  background-color: transparent;
  padding-right: 2px;
}
.navbar_btn {
  width: fit-content;
  border-radius: 25px;
  background-color: transparent;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signIn_button {
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signIn_button h5 {
  position: relative;
  right: 0;
}

/* Body */
body {
  background-image: none;
}
/* Body  Options*/
.Options_mainDiv {
  position: relative;
  width: 100%;
  padding: 2px;
  margin-top: 70px;
  margin-left: 13%;
}
.Options_mainDiv_inside {
  margin-top: 10px;
}
.Option_items_bodydiv1 {
  display: inline-flex;
  flex-direction: row;
}
.Option_items_bodydiv1 h3 {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

/* Insurance Types */
.container_Insurancetypes_Main_1 {
  position: relative;
  left: 55.672px;
  top: 45px;
}
.container_Insurancetypes_Main_1_inside {
  background-color: #eef2f7;
  padding: 5px;
  margin: 5px;
}
/* carousel */
.Carousel {
  padding-top: 35px;
}
.Carousel_inside {
  width: 90%;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 25px;
  background-color: #eef2f7;
  padding: 15px;
  border: 1px solid #02a4f9;
}
.Carousel_inside img {
  padding: 5 px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid #02a4f9;
}
.carousel_message {
  position: relative;
  margin-left: 50px;
}
.carousel_message p {
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}
.carousel_message h3 {
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
}
.btn-Knowmore {
  padding: 4px 7px;
  border-radius: 25px;
  font-weight: 700;
  width: fit-content;
  position: relative;
  top: 15px;
  left: 10px;
}
.Slider {
  position: relative;
  margin-left: 130px;
  margin-right: 50px;
  margin-top: 25px;
  width: 80%;
  justify-content: center;
  align-items: center;
}
/*  */
/* .rec.rec-arrow:disabled {
    visibility: hidden;
  } */
/* .rec.rec-arrow {
    visibility: hidden;
  }
  .rec.rec-arrow:disabled {
    visibility: hidden;
  } */
/* Footer */
.site-footer {
  background-color: rgb(67, 64, 64);
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 15px;
  justify-content: center;
}
.subFooter {
  padding: 1.5px;
  width: 100%;
  height: fit-content;
  background-color: gray;
}
.lmvinsurance_subfooter_text {
  justify-items: flex-start;
  padding-left: 15px;
}
.footer_heads {
  position: relative;
  margin-left: 25px;
}
/* Insurance Types */
.InsuranceTypes_main_div {
  position: relative;

  width: 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid #02a4f9;
  background-color: #eef2f7;
  border-radius: 25px;

  margin: 50px 20px 20px 130px;
  padding: 15px 2px;
  height: fit-content;
}
.InsuranceTypes_main_div_inside {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  position: relative;
  column-gap: 4px;
  text-align: left;
  padding: 2px;
  text-align: center;
}
.InsuranceTypes_main_div_inside ul {
  position: relative;
  list-style-type: none;
  color: cadetblue;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  list-style-type: none;
}
.InsuranceTypes_main_div_inside ul li:nth-child(1) {
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: black;
}

.InsuranceTypesLogo {
  width: 250px;
  height: auto;
  position: relative;
  left: 170px;
}
/* Why Choose Us */
.Why-Choose_us_maindiv,
.Our-brands_maindiv {
  position: relative;
  margin-left: 20%;
}
.Why-Choose_us_button,
.Our_Major_Brands {
  background-color: #02a4f9;
  border: none;
  border-radius: 30px;
  color: #f0ffff;
  padding: 17px 3px;
  margin: 35px 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 23px;
  position: relative;
  width: fit-content;
}
/* Carouser WhyChooseUS */
.Carouser_WhyChooseus {
  position: relative;
  margin: 20px 5px 25px 20px;
  text-align: start;
}
/* Brands */
.Brand_MainDiv {
  position: relative;
  width: 80%;
  border: 1px solid #02a4f9;
  background-color: #eef2f7;
  border-radius: 25px;
  margin: 50px 20px 20px 130px;

  height: fit-content;
}
.Brand_div_allitems {
  margin: 20px 60px;
  border-radius: 25px;
  background-color: #eef2f7;
}

.Brand_div_Item {
  position: relative;
}
/* Have a question */

.Have_a_question_MainDiv {
  position: relative;
  width: 80%;
  border: 1px solid #02a4f9;
  background-color: #eef2f7;
  border-radius: 25px;
  margin: 50px 20px 20px 130px;
}
.Have_a_question_inside_1 {
  width: 100%;
  padding: 10px;
}
.Question_img {
  position: relative;
  padding: 15px;
  right: 5px;
}
.Font_Common {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  padding: 10px 10px 2px 15px;
  font-weight: bolder;
}
.Font_Common_content {
  position: relative;
  text-align: left;
  text-align: start;
  margin-left: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.General_Enquires {
  position: relative;
  padding: 10px;
  margin: 15px;
  border: 1px solid #02a4f9;
  width: fit-content;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 25px;
}
.url {
  position: relative;
  font-weight: 600;
}
/* Health Template */
/* Health Template */
.healthtemplate_main {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 45px;
  padding: 20px 10px;
  margin: 10px 5%;

  width: auto;
  height: auto;
}
.healthtemplate_inside {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.healthtemplate_inside_image {
  position: relative;
  background-color: #e6e6ff;
  padding: 35px 75px 35px 35px;
  margin-left: 15px;
  border-radius: 15px;
}
/* HT */
.HealthImsurance_HT {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  padding: 15px;
  margin: 5px;
  font-weight: 500;
}
.HealthImsurance_HT h3 {
}
.InputField {
  position: relative;
  width: 45px;
  text-align: center;
}
.input_data_fields {
  border-radius: 50;
}
.message_tag_ht_after {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.message_tag_ht_after_subheading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  padding-left: 45px;
}
.Selections_Htpage_after_Input {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  margin: 25px;
  padding: 25px;
}
.Selections_Htpage_after_Input_insidediv1 {
  display: flex;
  flex-direction: column;
}
.Selections_Htpage_after_Input_insidediv1 img {
  position: relative;
  justify-content: center;
}
